

body {
    background-color: #FFFFED;
    margin: auto;
    /*margin-left: 80px;*/
}

h1 {
    font-family: 'Chewy', cursive;
    color:   #F76060;
    font-size: 50px;
    border-bottom: 3px solid #F76060;
}

h3 {
    font-family: 'Chewy', cursive;
    color: #F76060;
    font-size: 30px;
}

h4 {
    font-family: 'Chewy', cursive;
    color: #F76060;
    font-size: 20px;
    border-bottom: 2px solid #F76060;
}

p {
    padding-bottom: 15px;
    font-family: 'Open Sans', cursive;
    font-size: 14px;
}


ol li {
    padding: 10px; /* padding for instruction list */
}

/* Border box for other recipes 
.border {
    border-radius:30px;
    border: 1px solid #F76060;
    padding: 20px; 20px; 10px;
    margin-bottom: 5px;
    width: 380px;
    height: 100px;
}*/
/*change bullet points, may use in the future//
ul {
    list-style: none;
  }
Add new style of bullet points from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_bullet_color 
  ul li::before {
    content: "\2022"; /*type of bullet point
    color: #F76060;
    width: 20px;
    display: inline-block; 
    margin-left: -1em; /* moves margins to left 
  }*/


/* Link styling */
a {
    color:  #71D9B6; /*link color*/
}

a:hover {
    color: #D70C78; /* changes to this color when user hovers over link */
  }


/* Css classes */

.link {
    color:#099E47;
}

.top {
    padding-top: 70px;
    padding-bottom: 20px;
}

.description {
    width: 600px; /* width of description */
}

.right {
    float: left;
    width: 600px;
   /* margin-left: 280px;*/
}

.left {
    float: left;
    width: 600px;
}

.caption {
    float: left;
}




/* Media querys */


 

