body {
    background-color: #FFFFD6;
    font-family: 'Open Sans', cursive;
    font-size: 14px;
    margin-left: 20px;
}

h1 {
    font-family: 'Chewy', cursive;
    color:  #F76060;
    font-size: 50px;
}

h3 {
    font-family: 'Chewy', cursive;
    color: #F76060;
    font-size: 30px;
}

h4 {
    font-family: 'Chewy', cursive;
    color: #F76060;
    font-size: 20px;
}

caption {
    font-size: 6px;
}


/* Link styling */
a {
    color:  #71D9B6; /*link color*/
}

a:hover {
    color: #D70C78; /* changes to this color when user hovers over link */
  }


/* Css classes */
/* width of description */
.link {
    color:#099E47;
}

.top{
    
}

.description {
    width: 600px;
}

.right {
    float: left;
    width: 600px;
    margin-left:30px;
}

.left {
    float: left;
    width: 600px;
}